@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body class="login-page">
    <div class="login-container">
        <div class="login-branding">
            @*<a href="index.html"><img src="images/logo.png" alt="Mouldifi" title="Mouldifi"></a>*@
        </div>
        <div class="login-content">
            <h2><strong>Welcome</strong>, please login</h2>
            <form method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>

                @*<div class="form-group">
                    <p class="text-center">
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="text-center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>*@

            </form>
        </div>
    </div>
    <!--Load JQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>


@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
