
@model IList<PrintCompany.Core.FileUpload>

@*style="background-color: #fff;"*@
<div class="table-responsive">
    <table class="table" id="FileAttachmentsList">
        <thead>
            <tr>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>                
                <th><a href="/FileUploads/Download?Filename=@item.FileName" style=" text-decoration: underline; color: blue; overflow:hidden;">@item.OriginalFileName</a></th>
                <td>
                    <button class="btn btn-default btn-sm"
                            onclick="return previewFile('@item.FileName')">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-red btn-sm" data-fileId="@item.Id"
                            onclick="return checkDeleteFile(this.getAttribute('data-fileId'))">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            }
            </tbody>
    </table>
</div>


