
@model PrintCompany.ViewModels.OrderLineViewModel

<div id="modal-1" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel-body">
                    <form action="/OrderLines/Create" method="post" class="orderLineForm form-horizontal">
                        <input type="hidden" name="OrderId" value="@Model.OrderId" />
                        <div class="form-group">
                            <label for="ItemTypeId" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <select aria-required="true" required class="ItemType select2 form-control select2-hidden-accessible" name="ItemTypeId" id="ItemTypeId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ItemColorId" class="col-sm-2 control-label">Color</label>
                            <div class="col-sm-10">
                                <select class="ItemType select2 form-control select2-hidden-accessible" name="ItemColorId" id="ItemColorId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ItemSizeId" class="col-sm-2 control-label">Size</label>
                            <div class="col-sm-10">
                                <select aria-required="true" required class="ItemType select2 form-control select2-hidden-accessible" name="ItemSizeId" id="ItemSizeId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Quantity" class="col-sm-2 control-label">Quantity</label>
                            <div class="col-sm-10">
                                <input required type="text" placeholder="Quantity" class="form-control" name="Quantity" id="Quantity" style="width:200px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SupplierId" class="col-sm-2 control-label">Supplier</label>
                            <div class="col-sm-10">
                                <select class="Supplier select2 form-control select2-hidden-accessible" style="width:500px;" name="SupplierId" id="SupplierId"></select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.PrintRequired) Print Required
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.EmbroideryRequired) Embroidery Required
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Notes">Notes</label>
                            <div>
                                <textarea placeholder="Notes" rows="5" cols="70" class="form-control" name="Notes" id="Notes"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin:5px 5px 5px 0px; width:75px;">Close</button>
                        <input type="submit" class="btn btn-success" style="margin:5px; width:75px;" value="Save" />
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
