
@model IList<PrintCompany.Core.FileUpload>

@*style="background-color: #fff;"*@
<div class="table-responsive">
    <table class="table" id="FileAttachmentsList">
        <thead>
            <tr>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>                
                <th><a href="/FileUploads/Download?Filename=@item.FileName" style=" text-decoration: underline; color: blue; overflow:hidden;">@item.OriginalFileName</a></th>
                <td>
                    <a class="btn btn-default btn-sm " href="#"
                       onclick="return previewFile(@item.FileName)"><i class="fa fa-search"></i></a>
                    @*<a class="btn btn-primary" href="/Customers/Delete/Id"
                       onclick="return checkDelete()"><i class="fa fa-download"></i></a>*@
                    <a class="btn btn-red btn-sm" href="/Customers/Delete/Id"
                       onclick="return checkDelete()"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            }
            </tbody>
    </table>
</div>
