@model IList<PrintCompany.Core.ItemSize>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Types";
}
@section Styles
    {
    <link href="~/Content/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/Scripts/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">
}

<div class="row">
    <div class="col-md-4">
        <a href="/Admin/Sizes/Create" class="btn btn-success" style="margin:10px;">Add Size</a>
    </div>
    <div class="col-md-8 orderheader">
        <h2 class="orderheader">ITEM SIZES</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-sizes nowrap" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th>Item Size</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Size</td>
                                    <td>
                                        <a class="badge badge-primary" href="/Admin/Sizes/Edit/@item.Id">Edit</a> |
                                        <a class="badge badge-danger" href="/Admin/Sizes/Delete/@item.Id"
                                           onclick="return checkDelete()">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
<script src="~/Scripts/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.dataTables-sizes').DataTable({
                dom: '<"html5buttons" B>ftlp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    'colvis'
                ],
                columnDefs: [
                    { width: '3%', targets: 0 },
                    { width: '15%', targets: 1 }

                ]
            });
        });
    </script>
    <script>
        function checkDelete() {
            var result = confirm("Do you want to delete the record");
            if (result) {
                return true;
            }
            return false;
        }

    </script>

}
<style>
    .orderheader {
        font-size: 30px;
        font-weight: 500;
        padding-top: 4px;
    }
</style>
