
@model PrintCompany.Core.ItemType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight: 500;">Edit Item Type</h2>
<hr />
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            @*<div class="panel-heading clearfix">
                <h3 class="panel-title">Customer Details</h3>
            </div>*@
            <div class="panel-body">
                <form action="/Admin/Types/Edit" method="post">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <input required type="text" class="form-control" id="Type" name="Type" value="@Model.Type">
                    </div>
                    <div class="row">
                        <a href="/Admin/Types" class="btn btn-primary" style="margin:5px 5px 5px 15px; width:75px;">Back</a>
                        <input type="submit" class="btn btn-success" style="margin:5px; width:75px;" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



